:root {
    --heading-color: rgba(68, 66, 66, 0.767);
    --default-bg-color: rgba(255, 255, 255, 0.89);
    --primary-bg-color: rgba(36, 35, 35, 0.637);
    --secondary-bg-color: rgba(151, 142, 142, 0.76);
    --third-bg-color: rgba(255, 238, 0, 0.856);
    --primary-txt-color: rgb(255, 255, 255);
    --secondary-txt-color: rgba(26, 24, 24, 0.815);
    --third-txt-color: rgba(115, 236, 78, 0.733);
    --primary-border-color: black;
}

.pageLayout {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, var(--primary-border-color), var(--primary-bg-color), var(--primary-border-color));
}

.heroSection {
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.heroSection .heroImage {
    width: 40vw;
    height: 40vh;
    background-color: var(--default-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSection .heroImage .image {
    width: 96%;
    height: 94%;
}

.heroSection .heroText {
    width: 60vw;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
}

.heroSection .heroText .heroTextHeading {
    margin: 0;
    background-color: var(--third-bg-color);
}


.heroSection .heroText .heroTextHeading .heroTextHeading {
    color: var(--heading-color);
    padding: 0 12px;
    font-size: 26px; /* Font size in px */
    font-weight: 800;
}

.heroSection .heroText .heroTextDescription .textDescriptionHeading {
    margin: 20px;
    padding: 5px;
    max-height: 20vh;
    font-size: 20px; /* Font size in px */
    font-weight: 700;
    color: var(--primary-txt-color);
}

.heroSection .heroText .heroTextDescription .heroTextDescriptionParagraph {
    margin: 12px;
    padding: 0 12px;
    color: var(--primary-txt-color);
    word-wrap: break-word;
}


.cardSection {
    margin: 50px 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    gap: 35px;
}

.cardSection .cardData {
    background-color: var(--default-bg-color);
}


.cardSection .cardData .cardHeading .cardHeadingText {
    margin: 0;
    background-color: var(--third-bg-color);
    padding: 10px;
    font-size: 20px; /* Font size in px */
    font-weight: 800;
    text-align: left;
    color: var(--heading-color);
}

.cardSection .cardData .cardImg {
    width: auto;
    height: 22vh;
    background-color: var(--default-bg-color);
}

.cardSection .cardData .cardImg img {
    width: 100%;
    height: 100%;  /* Height Changed to 100% */
}
/* Removed Unnecessary Css */


.cardSection .cardData .cardDescription {
    padding: 5px;
    width: 90%;
    max-height: fit-content;
}

.cardDescription .cardData .cardDescription .cardDescriptionParagraph{
    font-size: 15px;    /* Font size in px */        
    font-weight: 600;
    color: var(--secondary-txt-color);
}

.cardSection .cardData .cardButton {
    margin: 20px;
    display: flex;
    justify-content: end;
}

.cardSection .cardData .cardButton .cardButtonData {
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: var(--heading-color);
    background-color: var(--third-bg-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 15px;
}

.cardSection .cardData .cardButton .cardButtonData:hover {
    cursor: pointer;
    opacity: 0.8;
}


/* Avoided Repeating properties. */
@media screen and (max-width:650px) {
    .heroSection {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroSection .heroImage {
        width: 90vw;
    }

    .heroSection .heroText {
        width: 90vw;
        
    }

    .heroSection .heroText .heroTextHeading .textDescriptionHeading .heroTextDescriptionParagraph {
        margin: auto;
        text-align: left;
        word-wrap: normal;
    }

    .cardSection {
        margin: 30px;
        grid-template-columns: 90vw;
        gap: 30px;
    }
}

@media screen and (min-width:651px) and (max-width:1024px) {
    .heroSection {
        margin: 30px;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .heroSection .heroImage {
        width: 90vw;
    }

    .heroSection .heroText {
        width: 90vw;
    }

    .heroSection .heroText .heroTextHeading .textDescriptionHeading .heroTextDescriptionParagraph {
        margin: auto;
        text-align: left;
        word-wrap: normal;
    }

    .cardSection {
        margin: 40px auto;
        grid-template-columns: 42vw 42vw;
        gap: 40px;
    }
}

@media screen and (min-width:1025px) and (max-width:1148px) {
    .heroSection {
        margin: 20px 40px;
        gap: 30px;
    }

    .cardSection {
        margin: 30px 40px;
        grid-template-columns: 21vw 21vw 21vw 21vw;
        gap: 25px;
    }
}

@media screen and (min-width:1149px) and (max-width:1300px) {
    .heroSection {
        margin: 30px 40px;
        gap: 30px;
    }

    .cardSection {
        margin: 30px 40px;
        grid-template-columns: 21vw 21vw 21vw 21vw;
        gap: 35px;
    }
}

@media screen and (min-width:1025px) and (max-width:1299px) and (max-height:800px) {
    .heroSection {
        margin: 25px;
        gap: 30px;
    }

    .cardSection {
        margin: 20px;
        grid-template-columns: 21vw 21vw 21vw 21vw;
        gap: 45px;
    }
}

@media screen and (min-Width:1300px) and (max-width:1314px)  {
    .cardSection{
        margin: 20px 40px;
        grid-template-columns: 21vw 21vw 21vw 21vw;
        gap: 35px;
    }
}

@media screen and (min-width:1315px) and (max-width:1429px) {
    .cardSection {
        margin: 20px auto;
        grid-template-columns: 22vw 22vw 22vw 22vw;
        gap: 25px;
    }
} 